html {
  font-size: 14px;
}
:root {
    --primary-black-color: #101010;
    --primary-darkBrown-color: #231917;
    --primary-lightBrown-color: #634d42;
    --primary-beige-color: #dec8b9;
    --primary-milkWhite-color: #b59682;
    --secondary-grey-color: #d9d9d9;
}
@font-face{
    font-family: initial;
    src: url(/font/Andika-Bold.ttf)
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    /*margin-bottom: 60px;*/
    /*background: rgba(217, 217, 217, 0.7);
    overflow-x: hidden;*/
    /*font-family: initial;*/
}
.navbar {
    margin-bottom: 0 !important;
}
.container{
    margin: 0 !important;
    padding: 0 !important;
}
.greeting-body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/library.png);
    background-repeat: no-repeat;
    background-size:cover;
    /*filter: brightness(70%);*/
    color: white;
    width: 100vw;
    margin: 0 !important;
    padding: 7em 0em 7em 0em;
}
.quote-body{
    width: 100vw;
    text-align: center;
    padding: 2em 0em 2em 0em;
    font-size: 1.5em;
}