@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/pages/home.css"/>
    <link rel="stylesheet" href="~/css/common/variables/components.css"/>
    <link rel="stylesheet" href="~/css/common/document-components/chatbot.css"/>
</head>
<div class="greeting-body">
    <div class="greeting-text w-100">
        @{
            if(User.Identity.IsAuthenticated){
                <h1 class="text-center">@ViewBag.Greeting, @User.Identity.Name!</h1>
            }
            else
            {
                <h1 class="non-user-greeting">Would you like to join our Interactive Library </h1>
                // <i class="material-icons">play_arrow</i>
                // <div class="flip-card">
                //     <div class="flip-card-base">
                //         <a asp-area="Identity" asp-page="/Account/Register">
                //             <i class="material-icons">person</i>
                //         </a>
                //     </div>
                //     <div class="flip-card-inner">
                //         <div class="flip-card-front">
                //             <i class="material-icons">book</i>
                //         </div>
                //         <div class="flip-card-back">
                //             <i class="material-icons">book</i>
                //         </div>
                //     </div>
                // </div>
            }
        }
    </div>

    <div class="chatbot-activeSpace">
        <div class="chatbot-title d-flex flex-row">
            <p>ChatBot Library Helper</p>
            <button class="d-flex justify-content-center align-items-center"><i class="material-icons">arrow_drop_down</i></button>
        </div>
        <div class="chatbot-textSpace">
            <div class="response">
                <div class="response-avatar d-flex flex-row">
                    <i class="material-icons">book</i>
                    <p>This will be the question?</p>
                </div>
                <div class="response-text"></div>
            </div>
        </div>
        @* <div class="chatbot-questionSpace d-flex flex-row">
            <input type="text" name="cb-initial-input" placeholder="Ask a question..." />
            <button type="button" class="flex-center"><i class="material-icons">eject</i></button>
        </div> *@
    </div>
</div>
<div class="filter-body">
    <section>
        <div class="filter-area pt-4 pb-4 d-flex flex-row justify-content-around">
            <section>
                <div class="filter-box">
                    <div class="filter-option">
                        <a asp-controller="Book" asp-action="Index">Books_Library</a>
                    </div>
                    <div class="line-break">
                        <div></div>
                    </div>
                    <div class="filter-option">
                        <a asp-controller="Author" asp-action="Index">Authors_Archive</a>
                    </div>
                    <div class="line-break">
                        <div></div>
                    </div>
                    <div class="filter-option">
                        <a asp-controller="Book" asp-action="PublicIndex">Public_Library</a>
                    </div>
                    <div class="line-break">
                        <div></div>
                    </div>

                    <div class="cb-initial-question filter-option d-flex flex-row">
                        <input type="text" name="cb-initial-input" id="cb-initial-input" placeholder="Ask a question..." />
                        <button type="button" class="cb-renderBtn flex-center"><i class="material-icons">eject</i></button>
                    </div>
                </div>

            </section>
        </div>
    </section>
</div>
<div class="quote-body">
    <div class="quote-framer">
        <div class="quote-mark-container"><img src="~/publicImages/quoteMark.jpg" alt="QuoteMark image" /></div>
        <p class="quote-text"></p>
        <p class="quote-info"><span class="quote-author">   <em></span><span class="quote-resource"></span></em> </p>
        <div class="quote-mark-container quote-second"><img src="~/publicImages/quoteMark.jpg" alt="QuoteMark image" /></div>
    </div>
</div>

<script src="/js/partialViews/chatbotView.js" defer type="text/javascript"></script>
<script src="/js/partialViews/quoteView.js"></script>


@* <h2>Текущото време е:
    @ViewBag.CurrentTime</h2>
 *@

