@{
    ViewData["Title"] = "Home Page";
}

<div class="greeting-body">
    <h1 class="text-center">@ViewBag.Greeting</h1>
</div>
<div class="filter-body">
    <section>
        <div class="filter-area pt-5 pb-5 d-flex flex-row justify-content-around">
            <form method="post">
                <div class="filter-box">
                    <div class="filter-option">
                        <label for="property-type">Type redirect</label>
                    </div>
                    <div class="line-break">
                        <div></div>
                    </div>
                    <div class="filter-option">
                        <label for="populated-place">Type redirect</label>
                    </div>
                    <div class="line-break">
                        <div></div>
                    </div>
                    <div class="filter-option">
                        <label for="town-area">Type redirect</label>
                    </div>
                    <div class="line-break">
                        <div></div>
                    </div>
                    <div class="filter-option">
                        <label for="max-price">Type redirect</label>
                    </div>
                    <div class="line-break">
                        <div></div>
                    </div>
                    <div class="filter-option">
                        <label for="quadrature">Type redirect</label>
                    </div>
                </div>

            </form>

            <div class="filter-search-button">
                <button class="p-3">-></button>
            </div>
        </div>
    </section>
</div>
<div class="quote-body">
    <q>This will be the quote of the day</q>
    <p>-Author/Person</p>
</div>


@* <h2>Текущото време е:
    @ViewBag.CurrentTime</h2>
 *@

