@page
@model LoginModel
@* @model RegisterModel *@

@{
    ViewData["Title"] = "Log in";
}

<head>
    <link rel="stylesheet" href="~/css/shared/sign-upin.css"/>
    <link rel="stylesheet" href="~/css/pages/home.css"/>
    @* <link rel="stylesheet" href="~/css/common/document-components/background.css"/> *@
</head>
<body>

    <div class="greeting-body">

        <div class="main-title"><h2>Start Journaling</h2></div> 

        <div class="main-section">

            <div class="quote-space">
                <div class="ivy-decor">
                    <div class="ivy-img-decor">
                        <img src="~/publicImages/ivy.png" alt="Ivy plant decor" />
                    </div>
                </div>
                <div class="quote-outer d-flex justify-content-center align-items-center">
                    <div class="quote-text-space">
                        <div class="left-quotemark-container">
                            <i class="material-icons quote-mark">format_quote</i>
                        </div>
                        <h5 class="quote-text"></h5>
                        <div class="right-quotemark-container">
                            <i class="material-icons quote-mark">format_quote</i>
                        </div>
                        <div class="quote-author">
                            <h6 class="quote-author"></h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section">

                <div class="sign-routing">
                    <div class="sign-routing-buttons">
                        <button id="loginBtn">Login</button>
                        <button id="registerBtn">Register</button>
                    </div>
                </div>

                <div class="login-register-sections">
                    <section class="login-section">
                        <form id="account" method="post">

                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email" class="form-label">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.Password" class="form-label">Password</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="checkbox mb-3">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                            <div>
                                <button id="login-submit" type="submit" class="w-100 btn btn-lg ">Sign in</button>
                            </div>
                            /*TODO if needed these functionalities*/
                            @* <div>
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                </p>
                                <p>
                                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                </p>
                            </div> *@
                        </form>
                    </section>
                    <section class="register-section">
                        <form id="account" method="post">

                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email" class="form-label">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-6 form-floating mb-3">
                                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                    <label asp-for="Input.Password" class="form-label">Password</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="col-6 form-floating mb-3">
                                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                    <label asp-for="Input.Password" class="form-label">Repeat-pass</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="checkbox mb-3">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                            <div>
                                <button id="login-submit" type="submit" class="w-100 btn btn-lg">Sign up</button>
                            </div>
                        </form>
                    </section>
                    @*<section class="register-section">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h2>Create a new account.</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                    </form>
                </section> *@
                </div>
            </div>

@*             <div class="book-decor">
                <div class="image-container">
                    <img src="~/publicImages/bookRow-removebg-preview.png"/>
                </div>
            </div> *@
        </div>
    </div>

    <script src="/js/views/loginRegsiterView.js" type="module"></script>
    <script>
        document.querySelector('.quote-text').textContent = sessionStorage.getItem('quote');
        document.querySelector('.quote-author').textContent = sessionStorage.getItem('quote-author');
    </script>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
