
body{
    overflow: hidden !important;
}

.staticShow-Hide{
    border: none;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}
.staticShow-Hide i{
    transform: rotate(90deg);
}

.book-display {
    border-right: 8px solid var(--primary-darkBrown-color);
    height: 95%;
    margin: 1em;
    border-radius: 5px;
}

.book-display{
    width: 60%;
}

.sort-filter-space{
    width: 100%;
}

.bookshelf-display {
    height: calc(100vh - 200px);
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}