@* @model LibraryNew.Models.Book *@


<head>
    <link rel="stylesheet" href="~/css/common/document-components/background.css"/>
    <link rel="stylesheet" href="~/css/pages/analysis.css" />
    <link rel="stylesheet" href="~/css/common/variables/components.css"/>
    <link rel="stylesheet" href="~/css/shared/site.css"/>
    <link rel="stylesheet" href="~/css/common/document-components/chatbot.css"/>
    @* <link rel="stylesheet" href="~/css/common/document-components/filter-style.css"/> *@
</head>
<body>
    <div class="greeting-body">
        <h2><a asp-controller="Book" asp-action="Review">Analysis</a></h2>
    </div>
    <div class="main-body">

        <div class="analysis-features">

            <div class="chart-info">

                <p>Average: <span>@Math.Round(ViewBag.AverageRating, 2)</span></p>
                <p>Positive: <span>@ViewBag.PositiveReviews</span></p>
                <p>Neutral: <span>@ViewBag.NeutralReviews</span></p>
                <p>Negative: <span>@ViewBag.NegativeReviews</span></p>

            </div>
            <canvas class="review-chart" id="reviewChart" width="200" height="100"></canvas>
        </div>


        <div class="static-features">

            <div class="quote-space">
                <div class="quote-text-space">
                    <div class="left-quotemark-container">
                        <i class="material-icons quote-mark">format_quote</i>
                    </div>
                    <h5 class="quote-text"></h5>
                    <div class="right-quotemark-container">
                        <i class="material-icons quote-mark">format_quote</i>
                    </div>
                    <div class="quote-author">
                        <h6 class="quote-author"></h6>
                    </div>
                </div>
            </div>

            <button class="static-redirect-publicLB"><a asp-controller="Book" asp-action="PublicIndex">Check out the public library -></a></button>

            <div class="chatbot-activeSpace">
                <div class="chatbot-title d-flex flex-row">
                    <p>ChatBot Library Helper</p>
                    <button class="d-flex justify-content-center align-items-center"><i class="material-icons">arrow_drop_down</i></button>
                </div>
                <div class="chatbot-textSpace">
                    <div class="response">
                        <div class="response-avatar d-flex flex-row">
                            <i class="material-icons">book</i>
                            <p>This will be the question?</p>
                        </div>
                        <div class="response-text"></div>
                    </div>
                </div>
                <div class="cb-initial-question d-flex flex-row">
                    <input type="text" id="cb-initial-input" name="cb-initial-input" placeholder="Ask a question..." />
                    <button type="button" class="flex-center"><i class="material-icons">eject</i></button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.querySelector('.quote-text').textContent = sessionStorage.getItem('quote');
        document.querySelector('.quote-author').textContent = sessionStorage.getItem('quote-author');
    </script>
</body>




<script>
    var ctx = document.getElementById('reviewChart');
    var reviewChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Reviews'],
            datasets: [
                {
                    label: 'Positive',
                    data: [@ViewBag.PositiveReviews],
                    backgroundColor: 'rgba(77,45,24, 1)',
                    borderColor: 'rgba(0, 0, 0, 1)',
                    borderWidth: 1,
                },
                {
                    label: 'Neutral',
                    data: [@ViewBag.NeutralReviews],
                    backgroundColor: 'rgb(217 217 217)',
                    borderColor: 'rgba(255,255,255, 1)',
                    borderWidth: 2
                },
                {
                    label: 'Negative',
                    data: [@ViewBag.NegativeReviews],
                    backgroundColor: 'rgba(0,0,0, 0.9)',
                    borderColor: 'rgba(0, 0, 0, 1)',
                    borderWidth: 1
                }

            ]
        }

    });

</script>